@import './colors.scss';
@import './components.scss';
@import './index.scss';
@import './mediaquery.scss';

body {
  background-color: $background-color;
}
::selection {
  background-color: $primary-color;
  color: white;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10px;
}
